@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  html,
  body {
    height: 100%;
    color: white;
    scroll-behavior: smooth;
  }

  #__next {
    height: 100%;
  }
}

.w-6 {
  height: auto;
  width: 3rem;
}